<div class = "container">
<%= form_for([@location, @event], html: {class: "form-horizontal"}) do |f| %>

  <div class = "form-group">
    <%= f.label :description, class: "col-md-2 control-label" %>
    <div class = "col-md-6">
      <%= f.text_field :description, class: "form-control" %>
    </div>
  </div>

  <div class = "form-group">
    <%= f.label :date, class: "col-md-2 control-label" %>
    <div class = "col-md-6">
      <%= f.date_field :date, class: "form-control" %>
    </div>
  </div>

  <div class = "form-group">
    <%= f.label "Requires_ID", class: "col-md-2 control-label" %>
    <div class = "col-md-6">
      <%= f.check_box :requires_id %>
    </div>
  </div>

  <div class = "form-group">
    <div class = "col-md-offset-6">
    <input class= "btn btn-primary"<%= f.submit %>
    <%= link_to 'Cancel', @location, class: "btn btn-default" %>
    </div>
  </div>

<% end %>
</div>
